@import '../css/style.css';

main {
    grid-template-columns: auto auto auto;
}

#lokacija-izbor {
    grid-column-start: 2;
    box-sizing: border-box;
    width: 20%;
    margin-bottom: 5%;
    border: 1px solid rgb(22, 22, 22);
    border-radius: 20px;
    box-shadow: 0 0 20px -5px;
    font-size: 125%;
}

div#lista-opreme {
    display: grid;
    grid-template-rows: repeat(auto, 15%);
    grid-template-columns: auto auto;
    grid-column-gap: 10%;
    grid-row-start: 2;
    width: 100%;
}

div#lista-opreme:nth-child(odd) {
    grid-column-start: 1;
}

div#lista-opreme:nth-child(even) {
    grid-column-start: 2;
}

div.element-oprema {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(22, 22, 22);
    margin: 10px auto;
    padding: 5px 15px;
    box-shadow: 0px 0px 10px;
    background-color: rgb(165, 255, 255);
    font-size: 100%;
    font-family: "Ramabhadra", sans-serif;
    transition: 0.2s ease-in-out;
}

div.element-oprema:hover {
    box-shadow: 0px 0px 20px;
    background-color: rgb(193, 255, 255);
}

div.element-oprema a {
    color: rgb(68, 68, 68);
    transition: 0.1s ease-in-out;
}

div.element-oprema a:hover {
    color: rgb(10, 10, 10);
}