@import '../css/style.css';

main {
    grid-template-columns: auto 25% 25%;
}

h2 {
    grid-column-start: 2;
    font-family: "Bree Serif";
    font-weight: normal;
    font-size: 300%;
    color: #292929;
    margin: auto;
}

ul {
    font-family: "Oxygen", sans-serif;
    margin: auto;
}

li {
    margin: 20px 0;
    font-size: 150%;
}