@import "style.css";

header {
    grid-template-columns: 25% 50% 25%;
}

nav {
    grid-column-start: 2;
}

nav.prijava-registracija {
    grid-column-start: 3;
}

main {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

main p {
    grid-row-start: 2;
    grid-column-start: 2;
    text-align: center;
}