@import "style.css";

nav {
    grid-column-start: 2;
}

nav.prijava-registracija {
    grid-column-start: 3;
}

main {
    grid-template-columns: auto auto auto;
}

main h1 {
    grid-column-start: 2;
}

main p {
    grid-row-start: 2;
    grid-column-start: 2;
    text-align: center;
}