@import "style.css";


input {
    display: block;
    margin: 8px 0px;
}

input[type="checkbox"]{
    display: inline;
}

#zapamti-me {
    display: inline;
}

.prijava-registracija {
    grid-column-start: 3;
}

main {
    grid-template-columns: auto auto auto;
}

form {
    grid-column-start: 2;
    margin: 0 auto;
}

a#zaboravljena-lozinka {
    font-size: 85%;
}