@import "style.css";

input {
    display: block;
    margin: 8px 0px;
}

.prijava-registracija {
    grid-column-start: 3;
}

main {
    grid-template-columns: auto;
}

main div {
    margin: auto;
    width: 100%;
    text-align: center;
}

form {
    display: block;
    margin: auto;
}