@import "style.css";

input {
    display: block;
    margin: 8px 0px;
}

.prijava-registracija {
    grid-column-start: 3;
}

main {
    grid-template-columns: auto;
}

form {
    display: block;
    /* margin: auto; */
}