@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Oxygen&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-rows: 12% auto auto;
    margin: 0;
    padding: 0;
    background-color: rgb(222, 230, 229);
}

h1 {
    font-family: 'Fira Sans', sans-serif;
}

a {
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
}

header {
    color: rgb(228, 228, 228);
    background-color: rgb(41, 41, 41);
    display: grid;
    place-items: center;
    align-items: center;
}

header a {
    color: rgb(212, 255, 255);
}

header h1 {
    grid-column-start: 1;
    grid-column-end: 1;
    font-size: 230%;
}

ul {
    list-style-type: none;
}

header nav ul li {
    font-family: 'Oxygen', sans-serif;
    font-size: 140%;
    display: inline-block;
    margin: 0 20px 0 0;
}

.dropdown {
    display: inline-block;
    position: relative;
    margin-left: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 3%;
    background-color: rgb(51, 51, 51);
    width: 110%;
}

.dropdown-content a {
    font-size: 75%;
    display: block;
    padding: 10px 5px;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
}

.dropdown:hover {
    color: aqua;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(85, 85, 85);
}

.prijava-registracija a {
    font-size: 20px;
}

main {
    display: grid;
    margin: 60px 10px;
}

main h1 {
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: center;
}

footer {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 3;
    padding: 0 20px;
    grid-template-columns: 45% 45% 10%;
    align-items: center;
    background-color: rgb(41, 41, 41);
    color: white;
}

footer a {
    color: rgb(212, 255, 255);
}

footer address {
    grid-column-start: 1;
    grid-column-end: 1;
}

footer #izmjena {
    grid-column-start: 2;
    grid-column-end: 2;
}