@import '../css/style.css';

form {
    text-align: left;
    font-size: 125%;
}

form select,
form textarea {
    display: block;
    margin-bottom: 10px;
    font-size: 80%;
    width: 100%;
}

select {
    width: 50%;
}

input[type="checkbox"] {
    display: inline;
}

label {
    display: inline;
}